/* TRON GRID | 1.0 */

.container {
	width: 1000px;
	text-align: left;
	margin: 0 auto;
}

.row {
	clear: both;
}

.span1, .span2, .span3, .span4, .span5, .span6 {
	display: block;
	float: left;
	margin-right: 2%;
	margin-bottom: 25px;
}

.last {
	margin-right: 0;
}

.span1 {
	width: 15%;
}

.span2 {
	width: 32%;
}

.span3 {
	width: 49%;
}

.span4 {
	width: 66%;
}

.span5 {
	width: 83%;
}

.span6 {
	width: 100%;
}